img{
    border: none !important;
}
.col-lg-3{
    /* text-align: center; */
    /* margin: 0 auto; */
    display: inline-block;
}
h1{
    font-family: 'Oswald', sans-serif;
    color: rgb(233, 76, 76);
}
